.main-container {
    height: 97vh;
    width: 98vw;
    position: relative;
    border: 1px solid black;
    margin-top: 10px;
}

h2 {
    position: absolute;
    top: -35px;
    left: 20px;
    background: white;
    padding: 0 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.name {
    text-align: center;
    line-height: 1em;
}

.txt_field {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    width: 70vw;
    margin-left: 12vw;
}

.logout {
    position: absolute;
    right: 25px;
    text-decoration: none;
    font-size: 22px;
    margin-top: 10px;
    background: #376bc4;
    color: #fff;
    cursor: pointer;
    border: none;
    height: 30px;
    width: 80px;
    transition: all 0.3s ease 0s;
}

.logout:hover {
    transform: translateY(-7px);
}

.buton {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: #fff;
  background-color: #376bc4;
  border: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

}

.btn {
    position: absolute;
    bottom: 30px;
    right: 20px;   
    

}


.btn:hover {
    transform: translateY(-7px);
  }